.card {
  position: relative;
  padding: 4px;
}

.card img {
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 182, 218);
}

.card .cardFront {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .cardFront {
  transform: rotateY(0deg);
  background-color: white;
}
