@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@0,300;1,900&family=Ubuntu&display=swap");

.home {
  display: flex;

  flex-direction: column;

  font-family: "Caveat", cursive;
  min-height: 100vh;
  background-color: white;
}

.home button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContent h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.homeContent button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSection {
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
  grid-template-rows: repeat(3, 1fr); /* Create 3 rows */
  margin-bottom: 30px;
}

.cardSection img {
  height: 150px;
}

@media (max-width: 768px) {
  .cardSection img {
    height: 80px; 
  .homeContent h1 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .cardSection img {
    height: 50px; 
  }
  .homeContent h1 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .cardSection img {
    height: 40px; 
  }
  .homeContent h1 {
    text-align: center;
  }
}
